body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(255, 233, 237);
  text-align: center;
  display: flex;
  align-content: space-between;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}

.flowerlink:hover {
  color:rgb(255, 144, 164);
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.flower{
  display: flex;
  max-width: 1600px;
  justify-content: center;
  flex-wrap: wrap;
}

#singleflower {
  border: black 2px solid;
  max-width: 500px;
  text-align: center;
}

#flowerAF {
  border: black 2px solid;
  margin: 1px;
  width: 400px; 
  text-align: center; 
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
}

.flowerImageMain {
  opacity: 1;
  transition: 0.2s;
}

.flowerImageMain:hover{
  opacity: 0.6;
}

#addToCartButton {
  width: 500px;
  height: 50px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 2px;
  text-decoration: none;
  color: black;
  background-color: rgb(255, 233, 237);
  text-align: center;
  transition: all 0.2s;
}

#addToCartButton:hover{
  background-color: rgb(255, 144, 164);
}

#quantity {
  height: 25px;
  width: 75px;
}